.task-completion{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &__row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 81px;
    padding: 0 15px;
  }
  &__info{
    display: flex;
    align-items: center;
  }
  &__current-status{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    opacity: 0.5;
    font-size: 14px;
    text-transform: uppercase;
    height: 50px;
    margin-right: 10px;
  }
  &__number-of-tasks{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    width: 19px;
    border: 1px solid black;
    opacity: 0.5;
    border-radius: 50%;
  }
  &__input-block{
    display: flex;
    justify-content: center;
    position: relative;
    height: 72px;
  }
  &__input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 90%;
    max-width: 1050px;
    margin: 16px 15px;
    input{
      padding: 0 50px 0 20px;
      height: 40px;
      background: url("../images/searchBlack.svg") no-repeat right 0 / 100px 100% white;
      border: 1px solid black;
      width: 100%;
      max-width: 1050px;
    }
  }
  &__calendar-open{
    position: absolute;
    top: 11px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: url("../images/Calendar.svg") no-repeat center 10% / 19px ;
  }
  &__scroll{
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    & {
      -ms-overflow-style: none;
    }
    & {
      overflow: -moz-scrollbars-none;
    }
  }
  &__column{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 10px;
  }
  .over {
    position: relative;
  }
  .over:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left:0;
    right: 0;
    height:5px;
    background: red;
  }
  &__body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    &::-webkit-scrollbar {
      width: 0;
    }
    & {
      -ms-overflow-style: none;
    }
    & {
      overflow: -moz-scrollbars-none;
    }
  }
  &__window-current-status{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 350px;
    height: 730px;
    overflow: hidden;
    margin: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #525252;
    &::-webkit-scrollbar {
      width: 0;
    }
    & {
      -ms-overflow-style: none;
    }
    & {
      overflow: -moz-scrollbars-none;
    }
  }
  &__box{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: #EAEAEA;
    padding: 10px 10px;
    min-height: 80px;
    max-height: 120px;
    margin-bottom: 10px;
    border: 1px solid #9B9B9B;
    border-radius: 6px;
  }
  &__box:hover{
    border: 2px solid #525252;
  }
  &__avatar{
    height: 40px;
    min-width: 40px;
    img{
      height: 100%;
      width: 100%;
      background: white;
      border-radius: 50%;
    }
  }
  &__name {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    p{
      overflow: auto;
      max-height: 50px;
      padding: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &::-webkit-scrollbar {
        width: 0;
      }

      & {
        -ms-overflow-style: none;
      }

      & {
        overflow: -moz-scrollbars-none;
      }
    }
  }
  &__status-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
  }
  &__to-do{
    width: 30px;
    height: 30px;
    background: url("../images/iconStatusToDo.svg") no-repeat center;
    background-size: 30px 30px;
    border-radius: 50%;
  }
  &__in-progress{
    width: 30px;
    height: 30px;
    background: url("../images/iconStatusInProgress.svg") no-repeat center;
    background-size: 62px 62px;
    border-radius: 50%;
  }
  &__done{
    width: 30px;
    height: 30px;
    background: url("../images/iconStatusDone.svg") no-repeat center;
    background-size: 30px 30px;
    border-radius: 50%;
  }
  &__left-time{
    margin-top: 10px;
  }
  &__data{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: bold;
  }
  &__post{
    margin-bottom: 5px;
  }
  &__completion{
    margin-bottom: 5px;
  }
}
.searchTask{
  background: white;
  border-radius: 8px;
  height: 80px;
  margin-bottom: 5px;
}
.search{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px 20px;
  background: #e0e0e0;
  max-height: 370px;
  max-width: 1050px;
  width: 100%;
  overflow: auto;
  z-index: 12;
}
.calendar{
  display: flex;
  position: absolute;
  justify-content: right;
  top: 40px;
  right: 0;
  z-index: 13;
}
.to-do{
  background-color: #EAEAEA;
  border-radius: 6px;
}
.in-progress{
  background-color: #fff8c9;
  border-radius: 6px;
}
.done{
  background-color: #79ff90;
  border-radius: 6px;
}
@media (min-width: 300px) and (max-width: 556px) {
  .task-completion {
    padding-top: 0;
    &__to-do,
    &__in-progress,
    &__done{
      height: 550px;
    }
    &__to-do{
      margin-top: 10px;
    }
  }
}