.menu {
  background-color: #000000;
  color: #ffffff;
  width: 15%;
  min-width: 226px;
  display: block;
}
.white {
  background-color: white;
  width: 100%;
  height: 100%;

}
.gray {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #EAEAEA;

}
#app {
  display: flex;
  height: 100%;
  min-width: 319px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*menu*/

img {
  height: 100%;
  width: 100%;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}
.menu__body {
  padding: 10% 5% 15% 12%;
}
.menu__column {
  display: flex;
  flex-direction: column;
}
.item-menu__flex {
  display: flex;
  align-items: center;
}
.item-menu__flex-start {
  display: flex;
  align-items: flex-start;
}
.item-menu__column {
  display: flex;
  flex-direction: column;
}
.item-menu__icon-logo {
  display: flex;
  background: url("../images/Logo.svg") 100% 100% no-repeat;
  min-height: 19px;
  width: 14%;
}
.item-menu__text-logo {
  display: flex;
  width: 79%;
  padding-left: 5%;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.item-menu__search {
  display: flex;
  align-items: center;
  background: url("../images/Search.svg") no-repeat right;
  border: 0;
  padding: 0;
  min-height: 16px;
  width: 12%;
}
.item-menu {
  margin-bottom: 10%;
}
.item-menu__background {
  background-color: #202020;
  padding: 6% 6% 4% 14%;
  margin: 0 -6% 10% -14%;
}
.item-menu__avatar {
  float: left;
  position: relative;
  width: 48px;
  height: 48px;
}
.item-menu__avatar img{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.item-menu__name {
  display: flex;
  flex-direction: column;
  width: 58%;
  padding-left: 6%;
}
.item-menu__text:first-child {
  font-size: 14px;
  margin-bottom: 10px;
}
.item-menu__text:last-child {
  font-size: 12px;
  color: #9B9B9B;
}
.item-menu__settings {
  display: flex;
  width: 17%;
  justify-content: flex-end;
}
.item-menu__button {
  border-radius: 50%;
  background: transparent;
  border: 0;
  padding: 0;
  min-width: 30px;
  min-height: 30px;
}
.item-menu__dots {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}
.item-menu__dots span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #9b9b9b;
  margin: 1px;
}
.item-menu__questions {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}
.item-menu__number-questions:first-child {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  background: transparent;
  width: 100%;
  color: #fff;
  line-height: 150%;
}
.item-menu__number-questions {
  font-size: 20px;
  margin-bottom: 2%;
}
.item-menu__sub-text {
  opacity: 0.5;
  font-size: 12px;
}
.item-menu__text.title {
  text-transform: uppercase;
  font-size: 12px;
  color: #878787;
  line-height: 18px;
  margin-bottom: 6%;
}
.item-menu__link {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22px;
  margin-bottom: 5%;
}
.item-menu__link:last-child {
  display: flex;
}
.item-menu__notification {
  display: flex;
  justify-content: center;
  min-width: 23px;
  height: 100%;
  color: #131313;
  border-radius: 50%;
  font-size: 13px;
  background: #FFC200;
  margin-left: 9px;
}
/*--------------------*/

/*popup-window*/

.popup-window {
  display: block;
  position: absolute;
  width: 400px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 2px solid #FFC200;
  border-radius: 10px;
  flex-direction: column;
  z-index: 5;
}
.popup-window__text {
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: 50%;
}
.popup-window__text p {
  width: 80%;
  font-size: 20px;
}
.popup-window__buttons {
  display: flex;
  height: 50%;
  justify-content: space-between;
  margin: 0 10%;
}
.popup-window__button {
  width: 30%;
  margin: 5% 0;
  border: 2px solid #FFC200;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: transparent;
}
.popup-window__button:hover {
  background: #FFC200;
  color: #fff;
}
@media (min-width: 0px) and (max-width: 415px) {
  .popup-window {
    width: 300px;
    height: 100px;
  }
  .popup-window__text {
    width: 80%;
    margin: 0 10%;
    text-align: center;
  }
  .popup-window__button {
    margin: 3% 0;
  }
}
/*--------------------*/

/*header*/
.header{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*--------------------*/

/*header-top*/
.header-top {
  width: 100%;
  height: 136px;
  background: #fff;
}

.header-top__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 3%;
}

.header-top__container {
  display: flex;
  align-items: flex-end;
  height: 65%;
  width: 100%;
}

.header-top__nav {
  display: flex;
  align-items: center;
  height: 35%;
  width: 100%;
}

.header-top .item-header {
  display: flex;
  height: 60%;
  width: 60%;
  align-items: center;
}

.header-top .item-header__logo::before {
  content: "";
  float: left;
  position: relative;
  background: url("../images/Shapes.png") no-repeat center #ffc200;
  background-size: 40px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 20%;
}

.header-top .item-header__text {
  color: #131313;
  margin-left: 15px;
  min-width: 264px;
}

.header-top .item-header__text h1 {
  font-size: 32px;
}

.header-top .item-header__settings {
  display: flex;
  margin-left: 11px;
}

.header-top .item-header__button {
  border: 0;
  padding: 0;
  min-width: 30px;
  min-height: 30px;
}

.header-top .item-header__dots {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.header-top .item-header__dots span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #9b9b9b;
  margin: 1px;
}

.header-top .item-header.item-header__end {
  justify-content: end;
  height: 60%;
  width: 40%;
}

.header-top .item-header__avatars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3%;
  height: 80%;
}

.header-top .item-header__avatar::before {
  content: "";
  float: left;
  position: relative;
  background: url("../images/avatar.png") no-repeat;
  background-size: 100%;
  margin-left: 5px;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}

.header-top .item-header__buttons {
  display: flex;
  align-items: center;
}

.header-top .item-header__link:first-child {
  font-size: 14px;
  margin-right: 5%;
  height: 30px;
  width: 67px;
  color: #131313;
  background: #EAEAEA;
  border-radius: 15px;
  border: none;
  text-align: center;
  padding-top: 7px;
}

.header-top .item-header__link:last-child::before {
  content: "Chat";
  float: left;
  position: relative;
  background: url("../images/shape.svg") no-repeat 20% 50% #fff8dd;
  background-size: 16px;
  width: 81px;
  height: 30px;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  color: #FFC200;
  text-align: right;
  padding: 7px 14px 7px 7px;
}

.header-top .tab-menu {
  display: flex;
  height: 100%;
  padding-top: 15px;
}

.header-top .tab-menu a {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: transparent;
  border: none;
  opacity: 0.7;
  font-size: 16px;
  color: #131313;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
  justify-content: flex-start;
  margin-right: 32px;
}

.header-top .tab-menu a:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
}

.header-top .tab-menu a:hover p {
  border-bottom: 2px solid #FFC200;
  font-size: 16px;
  color: #131313;
  width: 100%;
}

.header-top .tab-menu a.router-link-active.router-link-exact-active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
}

.header-top .tab-menu a.router-link-active.router-link-exact-active p {
  border-bottom: 2px solid #FFC200;
  font-size: 16px;
  color: #131313;
  width: 100%;
}

@media (min-width: 556px) and (max-width: 780px) {
  .menu {
    position: absolute;
    z-index: 3;
    height: 100vh;
  }
  .header-top .item-header {
    width: 100%;
  }
  .header-top .item-header.item-header__end {
    width: 100%;
    justify-content: flex-end;
  }
  .header-top .item-header__avatars {
    display: none;
  }
  .header-top__body {
    margin: 0 20px;
  }
  .activity {
    margin: 0;
  }
}
@media (min-width: 0px) and (max-width: 555px) {
  .menu {
    position: absolute;
    z-index: 3;
    height: 100vh;
  }
  .item-header {
    width: 100%;
  }
  .item-header.item-header__end {
    display: none;
  }
}
@media (max-width: 427px) {
  .menu {
    position: absolute;
    z-index: 3;
    height: 100vh;
  }
  .header-top {
    height: 200px;
  }
  .header-top .item-header__text {
    margin-left: 7px;
    min-width: 200px;
  }
  .header-top__container {
    flex-direction: column;
    justify-content: center;
  }
  .header-top__nav .tab-menu {
    justify-content: space-between;
    width: 100%;
  }
  .header-top .tab-menu a {
    margin-right: 0;
  }
  .header-top {
    height: 130px;
  }
  .header-top .item-header {
    justify-content: start;
    width: 100%;
  }
  .header-top .item-header__text {
    margin-left: 7px;
    min-width: 200px;
  }
  .header-top .item-header__text h1 {
    font-size: 29px;
  }
}
/*--------------------*/
